<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.person.web.repository.BlogLearnMapper">
<resultMap id="BaseResultMap"  type="com.person.web.blog.model.BlogLearn" >
	<result column="id" property="id" jdbcType="VARCHAR" />
	<result column="user_id" property="userId" jdbcType="VARCHAR" />
	<result column="user_name" property="userName" jdbcType="VARCHAR" />
	<result column="learn_title" property="learnTitle" jdbcType="VARCHAR" />
	<result column="learn_img" property="learnImg" jdbcType="VARCHAR" />
	<result column="learn_time" property="learnTime" jdbcType="TIMESTAMP" />
	<result column="learn_auth" property="learnAuth" jdbcType="VARCHAR" />
	<result column="learn_add" property="learnAdd" jdbcType="VARCHAR" />
	<result column="learn_is" property="learnIs" jdbcType="INTEGER" />
	<result column="about_content" property="aboutContent" jdbcType="VARCHAR" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
</resultMap> 
<sql id="Criteria_Where_Clause"> 
	<where> 
		<if test="params.id!=null">
			 and id=#{params.id}
		</if>
		<if test="params.userId!=null">
			 and user_id=#{params.userId}
		</if>
		<if test="params.learnTitle!=null">
			 and learn_title=#{params.learnTitle}
		</if>
		<if test="params.learnTime!=null">
			 and learn_time=#{params.learnTime}
		</if>
		<if test="params.learnAuth!=null">
			 and learn_auth=#{params.learnAuth}
		</if>
		<if test="params.learnAdd!=null">
			 and learn_add=#{params.learnAdd}
		</if>
		<if test="params.learnIs!=null">
			 and learn_is=#{params.learnIs}
		</if>
		<if test="params.aboutContent!=null">
			 and about_content=#{params.aboutContent}
		</if>
		<if test="params.createTime!=null">
			 and create_time=#{params.createTime}
		</if>
		<if test="params.userSign!=null">
			 and user_id in (select user_id from t_blog_user where user_sign =#{params.userSign})
		</if>
		<if test="params.userName_like!=null">
			 and user_id in (select user_id from t_blog_user where user_name like
			 CONCAT('%',#{params.userName_like},'%'))
		</if>
		<if test="params.learnTitle_like!=null">
			 and learn_title like  CONCAT('%',#{params.learnTitle_like},'%')
		</if>
	</where> 
</sql> 
<sql id="Base_Column_List">
  id,user_id,learn_title,learn_time,learn_auth,learn_add,learn_is,about_content,create_time,learn_img
</sql> 
<select id="queryPage" resultMap="BaseResultMap" parameterType="com.person.framework.mybatis.Criteria"> 
	select 
	<include refid="Base_Column_List" />,(select user_name from t_blog_user where t_blog_learn.user_id = t_blog_user.user_id ) as user_name
	from t_blog_learn
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
	<if test="orderBy!=null"> 
		order by ${orderBy} 
	</if> 
</select> 
<select id="queryPageCount" resultType="java.lang.Integer" parameterType="com.person.framework.mybatis.Criteria"> 
	select count(1) from t_blog_learn 
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
</select> 
<select id="queryEntity" resultMap="BaseResultMap" parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List" />
	from t_blog_learn	where id = #{id}
</select>
<insert id="insert" parameterType="com.person.web.blog.model.BlogLearn"> 
	insert into t_blog_learn
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="id != null"> 
			id,
		</if>
		<if test="userId != null"> 
			user_id,
		</if>
		<if test="learnTitle != null"> 
			learn_title,
		</if>
		<if test="learnImg != null"> 
			learn_img,
		</if>
		<if test="learnTime != null"> 
			learn_time,
		</if>
		<if test="learnAuth != null"> 
			learn_auth,
		</if>
		<if test="learnAdd != null"> 
			learn_add,
		</if>
		<if test="learnIs != null"> 
			learn_is,
		</if>
		<if test="aboutContent != null"> 
			about_content,
		</if>
		<if test="createTime != null"> 
			create_time,
		</if>
	</trim>
	values
	<trim prefix="(" suffix=")" suffixOverrides=",">
	<if test="id != null"> 
		#{id},
	</if>
	<if test="userId != null"> 
		#{userId},
	</if>
	<if test="learnTitle != null"> 
		#{learnTitle},
	</if>
	<if test="learnImg != null"> 
		#{learnImg},
	</if>
	<if test="learnTime != null"> 
		#{learnTime},
	</if>
	<if test="learnAuth != null"> 
		#{learnAuth},
	</if>
	<if test="learnAdd != null"> 
		#{learnAdd},
	</if>
	<if test="learnIs != null"> 
		#{learnIs},
	</if>
	<if test="aboutContent != null"> 
		#{aboutContent},
	</if>
	<if test="createTime != null"> 
		#{createTime},
	</if>
	</trim>
</insert>
<update id="updateByCriteria" parameterType="com.person.framework.mybatis.Criteria">
	update t_blog_learn
	<set>
	<if test="record.id != null"> 
		id = #{record.id},
	</if>
	<if test="record.userId != null"> 
		user_id = #{record.userId},
	</if>
	<if test="record.learnTitle != null"> 
		learn_title = #{record.learnTitle},
	</if>
	<if test="record.learnImg != null"> 
		learn_img = #{record.learnImg},
	</if>
	<if test="record.learnTime != null"> 
		learn_time = #{record.learnTime},
	</if>
	<if test="record.learnAuth != null"> 
		learn_auth = #{record.learnAuth},
	</if>
	<if test="record.learnAdd != null"> 
		learn_add = #{record.learnAdd},
	</if>
	<if test="record.learnIs != null"> 
		learn_is = #{record.learnIs},
	</if>
	<if test="record.aboutContent != null"> 
		about_content = #{record.aboutContent},
	</if>
	<if test="record.createTime != null"> 
		create_time = #{record.createTime},
	</if>
	</set>
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</update>
<delete id="deleteByCriteria" parameterType="com.person.framework.mybatis.Criteria">
	delete from t_blog_learn
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</delete>
<delete id="deleteById" parameterType="java.lang.String">
	delete from t_blog_learn
	where id = #{id}
</delete>
</mapper>
