<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.person.web.admin.repository.SchoolStudentMapper">
<resultMap id="BaseResultMap"  type="com.person.web.admin.model.SchoolStudent" >
	<result column="student_id" property="studentId" jdbcType="VARCHAR" />
	<result column="student_name" property="studentName" jdbcType="VARCHAR" />
	<result column="student_class" property="studentClass" jdbcType="VARCHAR" />
	<result column="create_by" property="createBy" jdbcType="VARCHAR" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
</resultMap> 
<sql id="Criteria_Where_Clause"> 
	<where> 
		<if test="params.studentId!=null">
			 and student_id=#{params.studentId}
		</if>
		<if test="params.studentName!=null">
			 and student_name=#{params.studentName}
		</if>
		<if test="params.studentClass!=null">
			 and student_class=#{params.studentClass}
		</if>
		<if test="params.studentIdLike!=null">
			 and student_id like
				CONCAT('%',#{params.studentIdLike},'%')
		</if>
		<if test="params.studentNameLike!=null">
			 and student_name like
				CONCAT('%',#{params.studentNameLike},'%')
		</if>
		<if test="params.studentClassLike!=null">
			 and student_class like
				CONCAT('%',#{params.studentClassLike},'%')
		</if>
		<if test="params.createBy!=null">
			 and create_by=#{params.createBy}
		</if>
		<if test="params.createTime!=null">
			 and create_time=#{params.createTime}
		</if>
	</where> 
</sql> 
<sql id="Base_Column_List">
  student_id,student_name,student_class,create_by,create_time
</sql> 
<select id="queryPage" resultMap="BaseResultMap" parameterType="com.person.framework.mybatis.Criteria"> 
	select 
	<include refid="Base_Column_List" />
	from t_school_student
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
	<if test="orderBy!=null"> 
		order by ${orderBy} 
	</if> 
</select> 
<select id="queryPageCount" resultType="java.lang.Integer" parameterType="com.person.framework.mybatis.Criteria"> 
	select count(1) from t_school_student 
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
</select> 
<select id="queryEntity" resultMap="BaseResultMap" parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List" />
	from t_school_student	where student_id = #{studentId}
</select>
<insert id="insert" parameterType="com.person.web.admin.model.SchoolStudent"> 
	insert into t_school_student
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="studentId != null"> 
			student_id,
		</if>
		<if test="studentName != null"> 
			student_name,
		</if>
		<if test="studentClass != null"> 
			student_class,
		</if>
		<if test="createBy != null"> 
			create_by,
		</if>
		<if test="createTime != null"> 
			create_time,
		</if>
	</trim>
	values
	<trim prefix="(" suffix=")" suffixOverrides=",">
	<if test="studentId != null"> 
		#{studentId},
	</if>
	<if test="studentName != null"> 
		#{studentName},
	</if>
	<if test="studentClass != null"> 
		#{studentClass},
	</if>
	<if test="createBy != null"> 
		#{createBy},
	</if>
	<if test="createTime != null"> 
		#{createTime},
	</if>
	</trim>
</insert>
<insert id="insertList" parameterType="java.util.List"> 
	<foreach collection="list" item="record" index="index"
			separator=";">
		insert into t_school_student
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="record.studentId != null"> 
				student_id,
			</if>
			<if test="record.studentName != null"> 
				student_name,
			</if>
			<if test="record.studentClass != null"> 
				student_class,
			</if>
			<if test="record.createBy != null"> 
				create_by,
			</if>
			<if test="record.createTime != null"> 
				create_time,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="record.studentId != null"> 
			#{record.studentId},
		</if>
		<if test="record.studentName != null"> 
			#{record.studentName},
		</if>
		<if test="record.studentClass != null"> 
			#{record.studentClass},
		</if>
		<if test="record.createBy != null"> 
			#{record.createBy},
		</if>
		<if test="record.createTime != null"> 
			#{record.createTime},
		</if>
		</trim>
	</foreach>
</insert>
<update id="updateByCriteria" parameterType="com.person.framework.mybatis.Criteria">
	update t_school_student
	<set>
	<if test="record.studentId != null"> 
		student_id = #{record.studentId},
	</if>
	<if test="record.studentName != null"> 
		student_name = #{record.studentName},
	</if>
	<if test="record.studentClass != null"> 
		student_class = #{record.studentClass},
	</if>
	<if test="record.createBy != null"> 
		create_by = #{record.createBy},
	</if>
	<if test="record.createTime != null"> 
		create_time = #{record.createTime},
	</if>
	</set>
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</update>
<delete id="deleteByCriteria" parameterType="com.person.framework.mybatis.Criteria">
	delete from t_school_student
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</delete>
<delete id="deleteById" parameterType="java.lang.String">
	delete from t_school_student
	where student_id = #{studentId}
</delete>
</mapper>
