<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.person.system.repository.SequenceMapper">

	<select id="currentSeq" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		SELECT f_currval(#{sequenceName}) as seq_val from dual
	</select>


	<select id="nextSeq" resultType="java.lang.Integer"
		parameterType="java.lang.String" useCache="false" flushCache="true">
		SELECT f_nextval(#{sequenceName}) as seq_val from dual
	</select>
	<select id="querySeq" resultType="java.lang.Integer"
		parameterType="java.lang.String" useCache="false" flushCache="true">
		SELECT LAST_INSERT_ID();
	</select>
	<select id="updateQuerySeq" resultType="java.lang.Integer"
		parameterType="java.lang.String" useCache="false" flushCache="true">
		update t_sys_sequence s set s.sequence_value= LAST_INSERT_ID(s.sequence_value+1) where s.sequence_code =#{sequenceName};SELECT LAST_INSERT_ID();
	</select>
	
	<update id="updateSeq" parameterType="java.lang.String">
		update t_sys_sequence s set s.sequence_value= LAST_INSERT_ID(s.sequence_value+1) where s.sequence_code =#{sequenceName};
	</update>
</mapper>