<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.person.web.admin.repository.SysGroupMapper">
<resultMap id="BaseResultMap"  type="com.person.web.admin.model.SysGroup" >
	<result column="group_id" property="groupId" jdbcType="VARCHAR" />
	<result column="group_name" property="groupName" jdbcType="VARCHAR" />
	<result column="group_status" property="groupStatus" jdbcType="INTEGER" />
	<result column="create_by" property="createBy" jdbcType="VARCHAR" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
</resultMap> 
<sql id="Criteria_Where_Clause"> 
	<where> 
		<if test="params.groupId!=null">
			 and group_id=#{params.groupId}
		</if>
		<if test="params.groupName!=null">
			 and group_name=#{params.groupName}
		</if>
		<if test="params.groupName_like!=null">
			 and group_name like
			 CONCAT('%',#{params.groupName_like},'%')
		</if>
		<if test="params.groupStatus!=null">
			 and group_status=#{params.groupStatus}
		</if>
		<if test="params.createBy!=null">
			 and create_by=#{params.createBy}
		</if>
		<if test="params.createTime!=null">
			 and create_time=#{params.createTime}
		</if>
		<if test="params.groupStatusIn!=null">
			 and group_status in 
			<foreach item="item" index="index" collection="params.groupStatusIn"
					open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</where> 
</sql> 
<sql id="Base_Column_List">
  group_id,group_name,group_status,create_by,create_time
</sql> 
<select id="queryPage" resultMap="BaseResultMap" parameterType="com.person.framework.mybatis.Criteria"> 
	select 
	<include refid="Base_Column_List" />
	from t_sys_group
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
	<if test="orderBy!=null"> 
		order by ${orderBy} 
	</if> 
</select> 
<select id="queryPageCount" resultType="java.lang.Integer" parameterType="com.person.framework.mybatis.Criteria"> 
	select count(1) from t_sys_group 
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
</select> 
<select id="queryEntity" resultMap="BaseResultMap" parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List" />
	from t_sys_group	where group_id = #{groupId}
</select>
<insert id="insert" parameterType="com.person.web.admin.model.SysGroup"> 
	insert into t_sys_group
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="groupId != null"> 
			group_id,
		</if>
		<if test="groupName != null"> 
			group_name,
		</if>
		<if test="groupStatus != null"> 
			group_status,
		</if>
		<if test="createBy != null"> 
			create_by,
		</if>
		<if test="createTime != null"> 
			create_time,
		</if>
	</trim>
	values
	<trim prefix="(" suffix=")" suffixOverrides=",">
	<if test="groupId != null"> 
		#{groupId},
	</if>
	<if test="groupName != null"> 
		#{groupName},
	</if>
	<if test="groupStatus != null"> 
		#{groupStatus},
	</if>
	<if test="createBy != null"> 
		#{createBy},
	</if>
	<if test="createTime != null"> 
		#{createTime},
	</if>
	</trim>
</insert>
<update id="updateByCriteria" parameterType="com.person.framework.mybatis.Criteria">
	update t_sys_group
	<set>
	<if test="record.groupId != null"> 
		group_id = #{record.groupId},
	</if>
	<if test="record.groupName != null"> 
		group_name = #{record.groupName},
	</if>
	<if test="record.groupStatus != null"> 
		group_status = #{record.groupStatus},
	</if>
	<if test="record.createBy != null"> 
		create_by = #{record.createBy},
	</if>
	<if test="record.createTime != null"> 
		create_time = #{record.createTime},
	</if>
	</set>
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</update>
<delete id="deleteByCriteria" parameterType="com.person.framework.mybatis.Criteria">
	delete from t_sys_group
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</delete>
<delete id="deleteById" parameterType="java.lang.String">
	delete from t_sys_group
	where group_id = #{groupId}
</delete>
</mapper>
