<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.person.web.admin.repository.SysGroupResourceMapper">
<resultMap id="BaseResultMap"  type="com.person.web.admin.model.SysGroupResource" >
	<result column="id" property="id" jdbcType="VARCHAR" />
	<result column="group_id" property="groupId" jdbcType="VARCHAR" />
	<result column="resource_id" property="resourceId" jdbcType="VARCHAR" />
	<result column="access_auth" property="accessAuth" jdbcType="INTEGER" />
	<result column="create_by" property="createBy" jdbcType="VARCHAR" />
	<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
</resultMap> 
<sql id="Criteria_Where_Clause"> 
	<where> 
		<if test="params.id!=null">
			 and id=#{params.id}
		</if>
		<if test="params.groupId!=null">
			 and group_id=#{params.groupId}
		</if>
		<if test="params.resourceId!=null">
			 and resource_id=#{params.resourceId}
		</if>
		<if test="params.accessAuth!=null">
			 and access_auth=#{params.accessAuth}
		</if>
		<if test="params.createBy!=null">
			 and create_by=#{params.createBy}
		</if>
		<if test="params.createTime!=null">
			 and create_time=#{params.createTime}
		</if>
	</where> 
</sql> 
<sql id="Base_Column_List">
  id,group_id,resource_id,access_auth,create_by,create_time
</sql> 
<select id="queryPage" resultMap="BaseResultMap" parameterType="com.person.framework.mybatis.Criteria"> 
	select 
	<include refid="Base_Column_List" />
	from t_sys_group_resource
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
	<if test="orderBy!=null"> 
		order by ${orderBy} 
	</if> 
</select> 
<select id="queryPageCount" resultType="java.lang.Integer" parameterType="com.person.framework.mybatis.Criteria"> 
	select count(1) from t_sys_group_resource 
	<if test="params != null"> 
		<include refid="Criteria_Where_Clause" /> 
	</if> 
</select> 
<select id="queryEntity" resultMap="BaseResultMap" parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List" />
	from t_sys_group_resource	where id = #{id}
</select>
<insert id="insertList" parameterType="java.util.List">
	<foreach collection="list" item="record" index="index"
			separator=";">
		insert into t_sys_group_resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="record.id != null"> 
				id,
			</if>
			<if test="record.groupId != null"> 
				group_id,
			</if>
			<if test="record.resourceId != null"> 
				resource_id,
			</if>
			<if test="record.accessAuth != null"> 
				access_auth,
			</if>
			<if test="record.createBy != null"> 
				create_by,
			</if>
			<if test="record.createTime != null"> 
				create_time,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="record.id != null"> 
			#{record.id},
		</if>
		<if test="record.groupId != null"> 
			#{record.groupId},
		</if>
		<if test="record.resourceId != null"> 
			#{record.resourceId},
		</if>
		<if test="record.accessAuth != null"> 
			#{record.accessAuth},
		</if>
		<if test="record.createBy != null"> 
			#{record.createBy},
		</if>
		<if test="record.createTime != null"> 
			#{record.createTime},
		</if>
		</trim>	
	</foreach>
</insert>
<insert id="insert" parameterType="com.person.web.admin.model.SysGroupResource"> 
	insert into t_sys_group_resource
	<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="id != null"> 
			id,
		</if>
		<if test="groupId != null"> 
			group_id,
		</if>
		<if test="resourceId != null"> 
			resource_id,
		</if>
		<if test="accessAuth != null"> 
			access_auth,
		</if>
		<if test="createBy != null"> 
			create_by,
		</if>
		<if test="createTime != null"> 
			create_time,
		</if>
	</trim>
	values
	<trim prefix="(" suffix=")" suffixOverrides=",">
	<if test="id != null"> 
		#{id},
	</if>
	<if test="groupId != null"> 
		#{groupId},
	</if>
	<if test="resourceId != null"> 
		#{resourceId},
	</if>
	<if test="accessAuth != null"> 
		#{accessAuth},
	</if>
	<if test="createBy != null"> 
		#{createBy},
	</if>
	<if test="createTime != null"> 
		#{createTime},
	</if>
	</trim>
</insert>
<update id="updateByCriteria" parameterType="com.person.framework.mybatis.Criteria">
	update t_sys_group_resource
	<set>
	<if test="record.id != null"> 
		id = #{record.id},
	</if>
	<if test="record.groupId != null"> 
		group_id = #{record.groupId},
	</if>
	<if test="record.resourceId != null"> 
		resource_id = #{record.resourceId},
	</if>
	<if test="record.accessAuth != null"> 
		access_auth = #{record.accessAuth},
	</if>
	<if test="record.createBy != null"> 
		create_by = #{record.createBy},
	</if>
	<if test="record.createTime != null"> 
		create_time = #{record.createTime},
	</if>
	</set>
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</update>
<delete id="deleteByCriteria" parameterType="com.person.framework.mybatis.Criteria">
	delete from t_sys_group_resource
	<if test="params != null">
		<include refid="Criteria_Where_Clause" />
	</if>
</delete>
<delete id="deleteById" parameterType="java.lang.String">
	delete from t_sys_group_resource
	where id = #{id}
</delete>
</mapper>
